@model Cansu.Northwind.MVCWebUI.Models.CartSummaryViewModel
@{

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<a class="nav-link dropdown-toggle" onclick="myFunction()" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" aria-haspopup="true">Your Cart</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarDropdownMenu">
    @foreach (var item in Model.Cart.CartLines)
    {
        <li>
            <a>
                @item.Product.ProductName <span class="badge">@item.Quantity</span>
            </a>
        </li>
    }
    <li role="separator" class="dropdown-divider"></li>
    <li>
        <a>
            <span class="glyphicon glyphicon-align-left glyphicon-shopping-cart" aria-hidden="true"></span>@Model.Cart.Total
        </a>
    </li>
    <li role="separator" class="dropdown-divider"></li>
    <li>
        <a asp-controller="Cart" asp-action="List">Go To Cart Details</a>
    </li>
</ul>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("navbarDropdownMenu").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropdown-toggle')) {
            var dropdowns = document.getElementsByClassName("dropdown-menu");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
